doctype html
html
  head
    title= title
    //default jade
    //link(rel='stylesheet', href='/stylesheets/style.css')
   
   //skeleton
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css')
   
   link(rel='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    
    



  body
    block content
